.nav {
  max-height: 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  
}
.icons {
  font-size: 30px;
  text-decoration: none;
margin-right: auto;
margin-left: auto;

}
.sidenav {
  width: 280px;
  background-color: white;
  z-index: 5;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}